.App {
  margin: 0%;
  padding: 0%;
  color: white;
}

header {
  background-color: rgba(102, 103, 171, 0.5);
  /* position: fixed; */
  top: 0;
  width: 100%;  
}

.container {
  width: 980px;
  margin: auto;
}

h1 {
  color: white;
  font-size: 8vmin;
  font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0%;
  padding: 0%;
}

h2 {
  color: #00CFE6;
  font-size: 4vmin;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 3px;
}