.contact_section {
    /* background-color: #6667AB; */
    background-color: #9b6100;
    padding: 15px;
}

.contact_container {
    display: grid;        
    padding: 5px;
    font-size: small;
    gap: 10px;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.contact_social {
    justify-self: center;
}

.contact_social i {
    font-size: xx-large;
    color: white;
    padding: 5px;
}